// Base

body {
  background: $color-background;
  color: $color-text;
  font-family: "malzoo";
  font-size: 48px;
  font-weight: bold;
  overflow: scroll;
  max-width: 800px;
  margin: auto;
  padding: 5px;

  @include media-query($phone) {
    max-width: 97%;
    min-width: 97%;
    font-size: 24px;
    img {
      width: 120px;
      height: 120px;
      }
    a {
      font-size: 18px;
    }
    a.email {
      font-size: 12px;
      max-width: 160px;
    }
    #header {
      background-size: 145px;
      margin: 10px;
    }
    .park {
      text-shadow: 2px 2px $color-shadow-inverse;
    }
    .park_title {
      margin-bottom: -10px;
    }
    .park_location {
      font-size: 12px;
      padding-bottom: 1px;
    }
    .park_desc {
      font-size: 12px;
      padding-bottom: 12px;
    }
    .info {
      margin-left: 0px;
    }
  }
}
a {
    background: $color-highlight;
    color: inherit;
    outline: 0;
    text-decoration: none;
    transition: .15s;
    font-weight: normal;
    font-size: 32px;
    padding: 10px 10px 5px 10px;
    margin-right: 10px;
    opacity: 0.8;
}
img {
  width: 300px;
  height: 300px;
  display: block;
}

a.map {
  padding: 0px;
}

a.email {
    background: $color-background;
    font-family: 'Inconsolata', monospace;
    font-size: 16px;
    font-weight: lighter;
    padding-bottom: 10px;
    max-width: 200px;
    margin: auto;
    display: block;
    text-align: center;
}

#header {
  background-image: url("/media/background.svg");
  background-repeat: repeat-x;
  background-size: 300px;
  text-shadow: 4px 4px $color-box;
  text-align: center;
  padding: 5px;
  margin: 5px;
}
#container {
  display: flex;
  flex-direction: column;
}

#footer {
  margin-top: 10px;
  margin-bottom: 10px;
}

.park {
  box-shadow: 10px 10px $color-box-shadow;
  text-shadow: 4px 4px $color-shadow-inverse;
  background: $color-box;
  display: flex;
  flex-direction: row;
  margin: 15px;
}
.park_title {
  padding-top: 4px;
  margin-bottom: -20px;
}
.park_location {
  font-family: 'Inconsolata', monospace;
  font-size: 18px;
  font-weight: lighter;
  padding-bottom: 10px;
  opacity: 0.5;
}
.park_desc {
  font-family: 'Inconsolata', monospace;
  font-size: 18px;
  font-weight: lighter;
  padding-top: 5px;
  padding-bottom: 10px;
}

.info {
  margin-left: 10px;
}
