// Base

body {
  background: $color-background;
  background-image: url("/media/background.png");
  background-repeat: repeat;
  background-size: 20%;
  color: $color-text;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: normal;
  overflow: scroll;

  @include media-query($phone) {
    font-size: 14px;
    background-size: 40%;
    img {
      width: 80px;
      height: 80px;
      }
  }
}

#container {
  display: flex;
  flex-direction: column;
}
#map {
  margin-right: 10px;
}
.park {
  display: flex;
  flex-direction: row;
  margin: 10px;
}

.info {
  margin-left: 10px;
}
