// Variables
$color-background: #02d0db;
$color-text: #000;
$color-shadow: #000;
$color-box: #ffe261;
$color-box-shadow: #000;
$color-shadow-inverse: #fff;
$color-highlight: #fec2d1;

$phone: 480px;
$tablet: 768px;

@import '_mixins';
@import '_normalize';
@import '_main';
